.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.modal-content {
    border: none !important;
    background-color: #1c1618 !important;
}

.multi-range-slider {
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.caption > span {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: #414558  !important;
    color: #CACCD9 !important;
    border-radius: .5rem !important;
    transform: translateX(calc(10px - 50%));
}

.yearSlider .bar {
    background: linear-gradient(to right,
            #C0C0C0,
            #98ddfc) !important;
}

.bpmSlider .bar {
    background: linear-gradient(to right,
            #4290fe,
            #ff291e) !important;
}

.srSlider .bar {
    background: linear-gradient(to right,
            #4290fe,
            #4cb6ff,
            #4fffd4,
            #cdf458,
            #fc9964,
            #f64d7a,
            #ad4dc2,
            #4d4bc4,
            #12106a,
            #000000,
            #000000) !important;
}

.lenSlider .bar {
    background: linear-gradient(to right,
            #B589D6,
            #9969C7,
            #804FB3,
            #6A359C,
            #552586) !important;
}

.statSlider .bar {
    background: linear-gradient(to right,
            #61de2a,
            #fff65f,
            #ff291e) !important;
}

.bar-left,
.bar-right {
    background: none;
    opacity: 0;
}

.thumb::before {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    transform: translateY(3px);
}

.bar {
    border-radius: 30px;
    height: 10px;
}

.bar-inner {
    border: none !important;
    background: transparent !important;
    backdrop-filter: brightness(120%) !important;
    outline: solid 2px #ffffff !important;
    box-shadow: none !important;
}